$font-family: "Roboto", Arial, sans-serif;

$screen-xs : 473px;
$screen-sm : 565px;
$screen-md : 768px;
$screen-lg : 1124px;

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    min-width: 322px;
}
.header {
    width: 100%;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;

    &__logo {
    width: 106px;
    height: 13px;
    margin-left: 8.5px;
    background-image: url(../assets/img/logo.svg);
    background-repeat: no-repeat;

    @media screen and (min-width: $screen-md) {
        margin-left: 7.3vw;
    }
    }

    &__nav {
    margin-right: 4px;

    @media screen and (min-width: $screen-xs) {
        display: flex;
        align-items: center;
    }

    @media screen and (min-width: $screen-md) {
        margin-right: 7.74vw;
    }
    }

    &__nav-btn {
    padding: 14px 20px;
    font: normal 500 13px $font-family;
    border: 1px solid #E0E0E0;
    border-radius: 5%;
    background: #fff;

    @media screen and (min-width: $screen-xs) {
        margin-right: 16px;
    }
    }

    &__basket {

    @media screen and (min-width: $screen-xs) {
        height: 72px;
        width: 40px;
        background: url(../assets/img/Restaurant/basket.svg) center no-repeat #fff;
        cursor: pointer;
    }
    }
}

.background {
    position: relative;
    height: 255px;
    background-image: url(../assets/img/photo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;

    @media screen and (min-width: $screen-xs){
    height: 364px;
    background-image: url(../assets/img/Restaurant/bc-md.svg); 
    }

    @media screen and (min-width: $screen-md) {
    background-image: url(../assets/img/Restaurant/bc-lg.svg);
    }
}

.external-block {
    top: 203px;
    left: 8px;
    position: absolute;
    width: 308px;
    height: 180px;
    text-align: center;
    z-index: 2;
    font: normal 400 24px $font-family;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    &__text {
    margin-block-start: 24px;
    color: #1D1D1D;
    }

    &__sub-text {
    margin-block-start: 40px;
    margin-block-end: 0;
    font-size: 14px;
    color: #626262;

    @media screen and (min-width: $screen-xs){
        margin-block-start: 0;
        margin-right: 110px;
    }
    }

    &__btn {
    margin-top: 16px;
    padding: 9px 16px 8px 16px;
    font-size: 12px;
    border-radius: 16px;
    border-style: unset;
    background: #262626;
    color: #fff;

    @media screen and (min-width: $screen-xs){
        margin-top: 0;
    }
    }

    &__shell {

    @media screen and (min-width: $screen-xs){
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 54px;
    }
    }

    @media screen and (min-width: $screen-xs){
    top: 152px;
    width: 432px;
    height: 204px;
    font-size: 36px;
    box-shadow: none;
    }

    @media screen and (min-width: $screen-md) {
    left: 7.3vw;
    }
}

.categories {
    display: none;
    
    &__title {
    color: #626262;
    cursor: pointer;

    @media screen and (min-width: $screen-xs){
        margin: 0 1em 0 .5em;
        font: normal 400 12px $font-family;
    }

    @media screen and (min-width: $screen-sm){
        margin: 0 2em 0 .5em;
        font: normal 400 14px $font-family;
    }

    @media screen and (min-width: $screen-md){
        margin: 0 2.5em 0 .5em;
        font: normal 400 16px $font-family;
    }
    }

    @media screen and (min-width: $screen-xs){
    display: flex;
    position: relative;
    height: 80px;
    align-items: center;
    border-bottom: .1em solid #D8D8D8;
    }

    @media screen and (min-width: $screen-md) {
    padding-left: 7.3vw;
    }
}

.active-title {
    color: #327430;
}

.content {
    text-align: center;
    margin: 0 4px 0 8px;
    font: normal 400 22px $font-family;

    &__title {
    margin: 112px 0 0 0;
    color: #1D1D1D;

    @media screen and (min-width: $screen-xs){
        margin-top: 56px;
    }

    @media screen and (min-width: $screen-md){
        margin-left: .703vw;
    }
    }

    &__underline {
    width: 50px;
    height: 1px;
    margin: 12px auto 0 auto;
    background: #757575;

    @media screen and (min-width: $screen-xs){
        display: none;
    }
    }

    &__range {
    margin-top: 27px;
    margin-bottom: 40px;

    @media screen and (min-width: $screen-md){
        display: flex;
        flex-wrap: wrap;
        margin-top: 0;
        margin-bottom: 63px;
    }
    }

    @media screen and (min-width: $screen-xs){
    text-align: left;
    margin-bottom: 48px;
    }

    @media screen and (min-width: $screen-md) {
    margin: 0 7.038vw 0 6.598vw;
    }
}

.dish {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;

    &__description {
    box-sizing: border-box;
    flex-grow: 1;
    text-align: left;
    border-bottom: 1px solid #D8D8D8;

    @media screen and (min-width: $screen-xs){
        padding: 16px 0 16px 24px;
        border-top: 1px solid #D8D8D8;
        border-left: 1px solid #D8D8D8;
    }
    }

    &__title {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 14px;
    color: #1D1D1D;

    @media screen and (min-width: $screen-xs){
        font-size: 16px;
        width: 228px;
    }
    }

    &__text {
    position: absolute;
    margin-top: 9px;
    font-size: 13px;
    color: #626262;
    }

    &__price {
    margin-block-start: 41px;
    font-size: 15px;
    font-weight: 550;
    color: #1D1D1D;

    @media screen and (min-width: $screen-xs){
        margin-block-start: 83px;
    }
    }

    &__image {
    align-self: flex-end;
    height: 102px;
    border-radius: 2px;

    img {
        height: 102px;
        width: 102px;
        image-rendering: pixelated;

        @media screen and (min-width: $screen-xs){
        height: 160px;
        width: 200px;
        image-rendering: -webkit-optimize-contrast;
        }
    }

    @media screen and (min-width: $screen-xs){
        height: 160px;
    }
    }

    @media screen and (min-width: $screen-xs){
    height: 160px;
    margin-top: 32px;
    }

    @media screen and (min-width: $screen-md){
    flex: 1 1 45%;
    margin-left: .703vw;
    margin-right: 0.703vw;
    margin-bottom: 17px;
    }
}

.checked-dish {

    @media screen and (min-width: $screen-xs) {
    background: #f9f9f9;
    }
}

.footer {
    padding: 0 8px 0 8px;
    background: #262626;
    font: normal 400 13px $font-family;
    color: #fff;

    &__hat {
    height: 116px;
    border-bottom: .1em solid #979797;
    }

    &__logo {
    margin: 56px auto 40.31px .62px;
    }

    &__main {
    margin-top: 32px;
    padding-bottom: 40px;
    border-bottom: .1em solid #979797;

    @media screen and (min-width: $screen-xs) {
        height: 148px;
        display: flex;
        flex-flow: column wrap;
    }
    }

    &__select {
    width: 173px;
    height: 40px;
    padding: 12px 55px 12px 48px;
    border-style: none;
    background: url(../assets/img/Restaurant/if_icon-ios7-arrow-back_211686-1.svg) 150px 15px no-repeat, url(../assets/img/Restaurant/world.svg) 24px no-repeat #3B3B3B;
    appearance: none;
    font: normal 400 13px $font-family;
    color: #fff;

    @media screen and (min-width: $screen-xs) {
        flex: 0 1 auto;
    }
    }

    &__nav-text {
    margin-block-start: 23px;
    margin-block-end: 0;

    @media screen and (min-width: $screen-xs) {
        margin-block-start: 0;
        margin-block-end: 22px;
    }
    }

    @media screen and (min-width: $screen-md) {
    padding: 0 87px 0 81px;
    }
}

.offset-bottom {
    margin-bottom: 2rem;
}

.uber-eats {
    height: 59px;
    width: 100px;
    margin: 32px 0 39px 0;
    font-size: 16px;
    color: #49A144;

    &__text {
    display: inline;
    color: #fff;
    }

    &__links {
    margin-top: 16px;
    height: 24px;
    background: url(../assets/img/Restaurant/ic/24/social/facebook.svg) -2px no-repeat, url(../assets/img/Restaurant/ic/24/social/twitter.svg) center no-repeat, url(../assets/img/Restaurant/ic/24/social/instagram.svg) right no-repeat;
    }

    @media screen and (min-width: $screen-xs) {
    flex: 0 1 30%;
    margin-bottom: 0;
    }
}

.download-links {
    height: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: .1em solid #979797;

    &__ap-store {
    padding-right: 24px;

    @media screen and (min-width: $screen-xs) {
        padding-right: 40px;
    }
    }

    &__google-pl {
    width: 124px;
    image-rendering: pixelated;

    @media screen and (min-width: $screen-xs) {
        width: 135pxpx;
    }
    }

    @media screen and (min-width: $screen-xs) {
    height: 120px;
    }
}

.footer-end {
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    padding: 40px 0 40px 0;

    &__text {
    font-size: 11px;
    margin-block-start: 12px;
    margin-block-end: 12px;
    
    @media screen and (min-width: $screen-xs) {
        flex: 0 1 34%;
        font-size: 9px;
    }

    @media screen and (min-width: $screen-sm) {
        font-size: 11px;
    }
    }

    @media screen and (min-width: $screen-xs) {
    flex-direction: row;
    padding: 28px 0 28px 0;
    }
}

.scroll-up {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    bottom: 24px;
    right: 16px;
    background: #59BD5A;
    border-radius: 2px;

    @media screen and (min-width: $screen-xs) {
    width: 80px;
    height: 80px;
    }
}
